<% include partials/header %>

<div class="container">

<br>

<h1> <%= title %> </h1>
<hr>
<p>Ayannah Business Solutions, Inc.</p>
<p>3003 Jollibee Plaza, F. Ortigas Road</p>
<p>Ortigas Center, Pasig City, Philippines</p>
<p>Phone: + 63 (2) 634 8320 </p>
<p>Fax: + 63 (2) 636 1454</p>
<p>Email: marketing@ayannah.com</p>

</div>

<% include partials/footer %>