<% include partials/header %>

<div class="container">

<br>

<h1> <%= title %> </h1>

<br>

<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is Sendah Insurance?
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Sendah Insurance is an online marketplace that provides its customers a fast, easy, and hassle-free way to purchase insurance. Sendah Insurance has a diverse range of insurance products from trusted partners giving the customer a variety of policies to choose from.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How do I pay without a credit card?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            You may pay with cash over-the-counter (OTC). Just proceed to any of our accredited payment centers and settle your transaction then your product will automatically be activated.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How do I renew my policy?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            In the accounts page, you can see your the current, overdue, and expired insurance products. Press the Insurance product that is currently expired and then press the renew policy. This option will lead you to the payment page wherein you can choose your payment option. The confirmation notification will be sent to you upon recognition of the payment. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            What happens after the policy expires?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            Insurance policies upon expiration nullifies the privilege of the insurance subscriber to claim their corresponding benefits. What customers can do is to renew their insurance policies that are expired or to subscribe to a different product.
        </div>
      </div>
    </div> 

    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Where can I view my past transactions?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
            All the customer’s past and present insurance products that they subscribed on are stored on their account. To view this, select the accounts page on the menu bar. In the accounts page, a subscriptions button can be selected to view all the transactions of the customer.  
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            How secure are my transactions?
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
            We work closely and directly with our partner banks and insurance companies. All information presented on our website are reviewed and approved by the said establishments and all information relayed to us by our clients are kept confidential in our highly secured database.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            How long before the policy is activated
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
            After the customer selects the insurance product that they deem fit, they will have to choose their mode of payment. The mode of payment selected will determine the time of approval.
<br>
Online Payment - A confirmation notice will be sent via email or phone message upon the approval of the corresponding insurance company that supplies the chosen product. One the confirmation message is received, the insurance product is activated.
<br>
Over-the-counter - The customer receives a payment number then they proceed to do their transactions with the designated payment centers that are affiliated with Ayannah. Upon payment, the payment centers notify Ayannah that a payment number given to the customer is already paid. Ayannah will then update the status of the subscription of the customer to make their insurances activated.
        </div>
      </div>
    </div>

  </div>

</div>

<% include partials/footer %>